@font-face {
  font-family: 'Lato-Hairline';
  src: url(../fonts/Lato-hairline.ttf);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato-Hairline";
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 10px 20px;
}

/*HEADER*/
header{
	width: 100%;
}

.navSection{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%; 
	padding: 5px;
}

h1{
	padding: 10px;
}

.logo{
	text-decoration: none;
	color: black;	
}

nav a{
	margin: 5px;
	padding: 10px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: bold;
}

nav a:hover{
	border:1px solid black;
}

.presentacion{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.presentacion img{
	width: 100%;
}

.quienesSomos{
	width: 50%
}

.quienesSomos p{
	margin-bottom: 30px;
}

.quienesSomos h2{
	margin-bottom: 10px;
}

.fa {
  padding: 10px;
  border: 1px solid;
  font-size: 25px;
  color:black;
}

.fa:hover {
    opacity: 0.7;
}

/*SLIDER STYLES*/

.slider-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 340px;
}

#gallery {
overflow: hidden;
border-radius: 8px;
}

#gallery:hover {
  cursor: pointer;
}

#captions {
  position: absolute;
  display: none;
  align-self: center;
}

#captions p {
  color: white;
  font-size: 2em;
  background-color: #F0BC82
}

#dots {
  position: absolute;
  right: 20px;
  align-self:flex-end;
  list-style: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px;
  background-color: #F0BC82;
  border-radius: 50%;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #F7901B;
}

/*ARTICLES*/
.variedades{
  width: 100%;
  margin: 15px;
  text-align: center;
  color: grey;
}

article{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 30%;
  height: 180px;
  margin: 10px;
  background-color: white;
}

article img{
  width: 150px;
  height: 150px;
  margin: 5px;
  align-self: center;
}

.text{
  align-self: center;
  margin: 10px;
  padding: 10px;
  color: grey;
}

.text h4{
  font-size: 18px;
}

.text p{
  margin-top: 5px;
  font-size: 14px;
}

hr{
  border-color: #ddd;
  margin: 10px;
}

section, article, footer{
  margin-bottom: 5px;
}
