*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 10px 20px;
}

/*HEADER*/
header{
	width: 100%;
	background-color: white;
}

.navSection{
	width: 100%;
}

.presentacion{
  width: 100%;
}

/*slider*/


/*articles*/
article{
	width: 33%;
}

/*FOOTER*/
footer{
	width: 100%;
}

/****************************************/
section, article, footer{
  margin-bottom: 5px;
}

/*BORRAR ALTURA Y COLOR DE LOS CONTENEDORES*/

 article, footer{
  background-color: grey;
}

.navSection{
	height: 90px;
}

.presentacion{
  height: 130px;
}

.slider{
	height: 360px;
}

article{
	height: 190px;
}
footer{
	height: 60px;
}

/*SLIDER STYLES*/

.slider-container{
  display: flex;
  justify-content: center;
	width: 100%;
  height: 340px;
}

#gallery {
overflow: hidden;
border-radius: 8px;
}

#gallery:hover {
  cursor: pointer;
}

#captions {
  position: absolute;
  display: none;
  align-self: center;
}

#captions p {
  color: white;
  font-size: 2em;
  background-color: #F0BC82
}

#dots {
  position: absolute;
  right: 20px;
  align-self:flex-end;
  list-style: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px;
  background-color: #F0BC82;
  border-radius: 50%;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #F7901B;
}
